<!DOCTYPE html>
<html>
    <%- include("./partials/head.ejs") %>
    <body>
        <h1>Welcome to Gitpub</h1>
        <a href="/drinks"><button class="b1">Look at our drinks</button></a>
        <a href="/foods"><button class="b2">Look at our foods</button></a>
    </body>
</html>
